.checkoutDrug {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.checkoutDrug__info {
    padding-left: 20px;
}

.checkoutDrug__info > button {
    background: #f0c14b;
    border: 1px solid;
    padding: 10px 13px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutDrug__image {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.checkoutDrug__title {
    font-size: 16px;
    font-weight: 400;
}